

.footer_content{
    font-size: 26px;
    width: 100px / 2;
    height: 50px;
    border: 1px solid @borderColoe;
    .title-main{
        color: red;
    }
    .titleSub{
        font-size: 28px;
    }
}